@use 'variables' as *;

::selection {
  background-color: rgba(0, 102, 255, 0.35) !important;
  color: #ffffff !important;
}

::-moz-selection {
  background-color: rgba(0, 102, 255, 0.35) !important;
  color: #ffffff !important;
}

button:focus,
button:focus-visible,
input:focus,
*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $color-bg-canvas;
  color: $color-text;
  font-family: $font-main;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
}
