@use 'variables' as *;

#app {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

  @include apply-theme using ($theme) {
    background-color: theme($theme, color-bg-canvas);
    color: theme($theme, color-text);
  }
  
  font-family: $font-main;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @include apply-theme using ($theme) {
    background-color: theme($theme, color-accent-border) !important;
    color: theme($theme, color-badge-text) !important;
  }
}
